# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

node_modules
jest-stare
jest-stare/jest-results.json

jest-stare/index.html
jest-stare/jest-results.json
__azurite_db_blob__.json
__azurite_db_blob_extent__.json
__azurite_db_table__.json
.gitignore
__azurite_db_queue_extent__.json
__azurite_db_queue__.json
__blobstorage__/b4fd400b-b0ae-412a-a790-8b3b8e4ac65a
__blobstorage__/65444090-a8bf-49ee-9b0a-a31349dd9c37
__blobstorage__/307f81c3-cbe1-47f7-ac74-594630628c48
__blobstorage__/16b5db44-44f3-4a13-a442-e87b2ff8882b
__blobstorage__/9b3e2aa8-9b77-4aef-b506-fd2575f675f8
test-report.html
test-report.html
test-report.html
test-report.html
