@tailwind base;
@tailwind components;
@tailwind utilities;


:root  {
  --background: 346.8 100% 95%;
  --foreground: 346.8 5% 0%;
  --card: 346.8 50% 90%;
  --card-foreground: 346.8 5% 10%;
  --popover: 346.8 100% 95%;
  --popover-foreground: 346.8 100% 0%;
  --primary: 346.8 77.2% 49.8%;
  --primary-foreground: 0 0% 100%;
  --secondary: 346.8 30% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: 308.8 30% 85%;
  --muted-foreground: 346.8 5% 35%;
  --accent: 308.8 30% 80%;
  --accent-foreground: 346.8 5% 10%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 346.8 5% 90%;
  --border: 346.8 30% 50%;
  --input: 346.8 30% 18%;
  --ring: 346.8 77.2% 49.8%;
  --radius: 0.5rem;
}
.dark  {
  --background: 346.8 50% 5%;
  --foreground: 346.8 5% 90%;
  --card: 346.8 50% 0%;
  --card-foreground: 346.8 5% 90%;
  --popover: 346.8 50% 5%;
  --popover-foreground: 346.8 5% 90%;
  --primary: 346.8 77.2% 49.8%;
  --primary-foreground: 0 0% 100%;
  --secondary: 346.8 30% 10%;
  --secondary-foreground: 0 0% 100%;
  --muted: 308.8 30% 15%;
  --muted-foreground: 346.8 5% 60%;
  --accent: 308.8 30% 15%;
  --accent-foreground: 346.8 5% 90%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 346.8 5% 90%;
  --border: 346.8 30% 18%;
  --input: 346.8 30% 18%;
  --ring: 346.8 77.2% 49.8%;
  --radius: 0.5rem;
}


.perspective {
  perspective: 1000px;
}

.preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Ensure footer sticks to bottom */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}