/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}

/* Progress bar */
#nprogress .bar {
  background: hsl(var(--primary));
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
}

/* Remove spinner */
#nprogress .spinner {
  display: none;
}

/* Fancy blur effect */
#nprogress .peg {
  position: absolute;
  right: 0;
  width: 100px;
  height: 100%;
  box-shadow: 8px 8px 0px hsl(var(--primary));
  opacity: 1;
  transform: rotate(3deg) translate(0px, -4px);
}

/* Individual elements should remain interactive */
.nprogress-busy a,
.nprogress-busy button,
.nprogress-busy input,
.nprogress-busy select,
.nprogress-busy [role="button"],
.nprogress-busy [tabindex="0"] {
  pointer-events: auto;
  cursor: pointer;
}
